# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.python-version

# Entornos y secretos
.env
.env.*
!.env.example

# Herramientas
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/
*.swp
